@font-face {
  font-family: "Mont-Bold";
  src: local("Mont-Bold"),
    url("../../fonts/Mont-Bold.otf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Mont-SemiBold";
  src: local("Mont-SemiBold"),
    url("../../fonts/Mont-SemiBold.otf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Mont-Regular";
  src: local("Mont-Regular"),
    url("../../fonts/Mont-Regular.otf") format("truetype");
  font-weight: 500;
}

@mixin title-home {
  font-family: "Mont-Bold", sans-serif;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.01em;
}

@mixin title-large {
  font-family: "Mont-Bold", sans-serif;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;
}

@mixin title-medium {
  font-family: "Mont-Bold", sans-serif;
  font-size: 22px;
  line-height: 31px;
}

@mixin title-small {
  font-family: "Mont-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 26px;
}

@mixin title-small-mobile {
  font-family: "Mont-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

@mixin text-uppercase {
  font-family: "Mont-Bold", sans-serif;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

@mixin text-buttons {
  font-family: "Mont-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 21px;
}

@mixin text-body {
  font-family: "Mont-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
}

@mixin text-small {
  font-family: "Mont-SemiBold", sans-serif;
  font-size: 12px;
  line-height: 15px;
}
