@import "../../styles/utils";

.Navbar {
  height: 100%;
  display: flex;
  gap: 64px;
  @include onMediumScreen {
    gap: 32px;
  }

  @include onSmallScreen {
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    @include text-uppercase;
    color: $color-secondary;
    text-decoration: none;
    @include hover(color, $color-primary);

    @include onSmallScreen {
      width: fit-content;
      height: 27px;
    }

    &--active {
      color: $color-primary;
      border-bottom: 3px solid $color-primary;
    }
  }
}
