@import "./styles/utils";

* {
  box-sizing: border-box;
}

html {
  @include text-body;
  color: $color-primary;
  height: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  overflow-x: hidden;
}

h1 {
  @include title-home;

  @include onSmallScreen {
    @include title-large;
  };
}

h2 {
  @include title-large;

  @include onSmallScreen {
    @include title-medium;
  }
}

h3 {
  @include title-medium;

  @include onSmallScreen {
    @include title-small;
  }
}

h4 {
  @include title-small;

  @include onSmallScreen {
    @include title-small-mobile;
  }
}

button {
  cursor: pointer;
}

.lock-scroll {
  overflow: hidden;
}
